<div class="header-container">
  <header class="app-header">
    <div class="header-left">
      <h2 class="title">IS Demo App</h2>
      <h3 class="subtitle">{{ subtitle }}</h3>
    </div>

    <nav class="header-nav">
      <button matButton="elevated" routerLink="/companies" routerLinkActive="active">Companies</button>
      <button matButton="elevated" routerLink="/projects" routerLinkActive="active">Projects</button>
      <button matButton="elevated" routerLink="/orders" routerLinkActive="active">Orders</button>
      <button matButton="elevated" routerLink="/missions" routerLinkActive="active">Missions</button>
      <button matButton="elevated" routerLink="/evaluations" routerLinkActive="active">Evaluations</button>
    </nav>
  </header>
</div>
