.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #394856;
  padding: 0.5em 1em;
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
}

.header-left {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  >.title {
    color: #0392e6;
  }
  > .subtitle {
    font-size: 1em;
    color: #fff;
  }
}

.routes-buttons {
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.15);
    background-color: #0392e6;
  }
}

.back-button {
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;

  &:hover {
    color: #0392e6;
  }
}
