<div class="header-container">
  <header class="app-header">
    <div class="header-left">
      @if(overview() === true) {
        <mat-icon class="back-button" (click)="navigateBack()">arrow_circle_left</mat-icon>
      }
      <h2 class="title">IS Demo App</h2>
      <h3 class="subtitle">{{ subtitle }}</h3>
    </div>

    <nav class="header-nav">
      <button class="routes-buttons" matButton="elevated" routerLink="/companies" routerLinkActive="active">Companies</button>
      <button class="routes-buttons" matButton="elevated" routerLink="/projects" routerLinkActive="active">Projects</button>
      <button class="routes-buttons" matButton="elevated" routerLink="/providers" routerLinkActive="active">Providers</button>
      <button class="routes-buttons" matButton="elevated" routerLink="/orders" routerLinkActive="active">Orders</button>
      <button class="routes-buttons" matButton="elevated" routerLink="/missions" routerLinkActive="active">Missions</button>
      <button class="routes-buttons" matButton="elevated" routerLink="/evaluations" routerLinkActive="active">Evaluations</button>
    </nav>
  </header>
</div>
