<mat-card class="entity-main-card">
  <mat-card-title class="entity-card-title">
    Missions
    <mat-icon class="entity-add-button" (click)="openDialog()">add_circle</mat-icon>
  </mat-card-title>

  <div class="entities-container">
    @if (missions().length === 0) {
      <div class="empty-state">No data</div>
    } @else {
      @for (m of missions(); track m.id) {
        <mat-card class="entity-subcard mat-elevation-z4">
          <mat-card-header class="subheader">
            <mat-card-title class="subcard-title">{{ m.title }}</mat-card-title>
            <div class="action-container">
                <mat-icon class="entity-add-button" (click)="openDialog(m)" >note_alt</mat-icon>
                  <mat-icon class="entity-add-button"(click)="goToOverview(m.id,m.orderId)">preview</mat-icon>
                <mat-icon class="entity-delete-button" color="warn">delete</mat-icon>
            </div>
          </mat-card-header>

          <mat-card-content>
            <p><strong>Description:</strong> {{ m.description }}</p>
            <p><strong>Start Date:</strong> {{ m.startDate | date:'shortDate' }}</p>
            <p><strong>End Date:</strong> {{ m.endDate | date:'shortDate' }}</p>
            <p><strong>Order ID:</strong> {{ m.orderId }}</p>
          </mat-card-content>
        </mat-card>
      }
    }
  </div>
</mat-card>
