<mat-card class="entity-main-card">
  <mat-card-title class="entity-card-title">
    Missions
    <button mat-flat-button color="accent" (click)="openDialog()">Add</button>
  </mat-card-title>

  <div class="entities-container">
    @if (missions().length === 0) {
      <div class="empty-state">No data</div>
    } @else {
      @for (m of missions(); track m.id) {
        <mat-card class="entity-subcard mat-elevation-z4">
          <mat-card-header>
            <mat-card-title class="subcard-title">Mission #{{ m.id }}</mat-card-title>
            <mat-card-subtitle class="subcard-subtitle">{{ m.title }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p><strong>Description:</strong> {{ m.description }}</p>
            <p><strong>Start Date:</strong> {{ m.startDate | date:'shortDate' }}</p>
            <p><strong>End Date:</strong> {{ m.endDate | date:'shortDate' }}</p>
            <p><strong>Order ID:</strong> {{ m.orderId }}</p>
          </mat-card-content>

          <mat-card-actions class="action-container">
            <button
              mat-flat-button
              color="primary"
              (click)="openDialog(m)">
              Edit
            </button>
            <button
              mat-flat-button
              color="warn"
              (click)="deleteMission(m.id)">
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      }
    }
  </div>
</mat-card>
