<div class="providers-container">
  <h2>Providers</h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let provider"> {{provider.id}} </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let provider"> {{provider.name}} </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let provider"> {{provider.email}} </td>
    </ng-container>

    <!-- Contact -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let provider"> {{provider.contact}} </td>
    </ng-container>

    <!-- Category -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let provider"> {{provider.category}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
