<mat-card class="form-main-card">
  <div>
    <mat-card-title class="form-card-title">
      <span>
        {{ company ? 'Edit Company' : 'Create Company' }}
      </span>
      <mat-icon class="cancel-edit-button" (click)="cancel()">cancel</mat-icon>
    </mat-card-title>

    <form class="entity-form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-container">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Contact</mat-label>
          <input matInput formControlName="contact" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Industry</mat-label>
          <input matInput formControlName="industry" />
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="action-container">
    <button class="update-entity-button" mat-flat-button (click)="submit()">
      {{ company ? 'Update' : 'Create' }}
    </button>
  </div>
</mat-card>
