.entity-main-card {
  background-color: #52616d;
  border-radius: 0.5em;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: fit-content;
}

.entity-add-button {
  color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  &:hover {
    color: #b67702;
  }
}
.entity-delete-button {
  transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  &:hover {
    color: #b43900;
  }
}

.entity-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: large;
  padding: 0.4em;
  color: #b67702;
}

.entities-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  margin-top: 1em;
  background-color: #4a5864;
  max-width: 60em;
  padding: 1em;
}

.action-container {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
}

.entity-subcard {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #7e95a8;
  border-radius: 0.5em;
  transition: transform 0.2s ease, box-shadow 0.2s ease ;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1em 1em rgba(0, 0, 0, 0.15);
  }
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.subcard-subtitle {
  font-weight: bold;
}
