@use '@angular/material' as mat;

.form-main-card {
  background-color: #52616d;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-width: 45em;
  min-height: 30em;
  display: flex;
  justify-content: space-between;
}

.form-card-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: large;
  padding: 0.5em;
  color: #0392e6;
  background-color: #4a5864;
}

.form-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 60em;
}

.form-field {
  width: 80%;
}

.action-container{
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

.cancel-edit-button {
  color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  &:hover {
    color: #f14029;
  }
}

.update-entity-button {
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  background-color: #0392e6;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #0392e6;
  }
}
