<mat-card class="entity-main-card">
  <mat-card-title class="entity-card-title">
    Orders
    <button mat-flat-button color="accent" (click)="openDialog()">Add</button>
  </mat-card-title>

  <div class="entities-container">
    @if (orders().length === 0) {
      <div class="empty-state">
        No data
      </div>
    } @else {
      @for (o of orders(); track o.id) {
        <mat-card class="entity-subcard mat-elevation-z4">
          <mat-card-header>
            <mat-card-title class="subcard-subtitle">Order #{{ o.id }}</mat-card-title>
            <mat-card-subtitle>Status: {{ o.status }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p><strong>Description:</strong> {{ o.description }}</p>
            <p><strong>Quantity:</strong> {{ o.quantity }}</p>
            <p><strong>Project:</strong> {{ o.projectId }}</p>
            <p><strong>Provider:</strong> {{ o.providerId }}</p>
          </mat-card-content>

          <mat-card-actions class="action-container">
            <button mat-flat-button color="primary" (click)="openDialog(o)">
              Edit
            </button>
            <button mat-flat-button color="warn" (click)="deleteOrder(o.id)">
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      }
    }
  </div>
</mat-card>
