<mat-card class="form-main-card ">
  <mat-card-title class="form-card-title">Create Company</mat-card-title>

  <form class="entity-form">
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Company Name" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Contact</mat-label>
        <input matInput placeholder="Contact" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Industry</mat-label>
        <input matInput placeholder="Industry" />
      </mat-form-field>
    </div>
  </form>
</mat-card>
