<mat-card class="form-main-card">
  <mat-card-title class="form-card-title">Create Company</mat-card-title>

  <form class="entity-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Company Name" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Contact</mat-label>
        <input matInput formControlName="contact" placeholder="Contact" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Industry</mat-label>
        <input matInput formControlName="industry" placeholder="Industry" />
      </mat-form-field>
    </div>

    <button mat-flat-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
