/* You can add global styles to this file, and also import other style files */
@import "app/shared/styles/entities.styles";

html, body { height: 100%; }
body { margin: 0;   font-family: Montserrat, sans-serif;background-color: #295f7a69;}
* {
  font-family: 'Montserrat', sans-serif !important;
}
.page-container {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.font-bold {
  font-weight: bold;
}

